# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno
.env

# Logs
logs
*.log
logs/**/*.log

# Cache y dependencias temporales
.DS_Store
.tmp
dist/
build/

# Docker
*.pid
docker-compose.override.yml
